# Dependencies
node_modules/

# Build output
build/
dist/
lib/
.next/
out/

# Environment variables
.env
.env*.local

# Firebase
.firebase/
*-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Next.js
apps/web/.next/
apps/web/out/

# Functions
apps/functions/lib/
